# .gitignore
# Simon Hulse
# simonhulse@protonmail.com
# Last Edited: Fri 06 Dec 2024 12:09:45 PM EST

# Haskell
dist-newstyle/

# Python
__pycache__/
.coverage
*.egg-info/
.venv/

# Rust
target/

# Java
.mvn/

# Vim
*.swp
